useDynLib("SMRD")
import(nlme, lattice, grid, graphics, stats)
importFrom(survival, Surv, survfit)
importFrom(plot3D, persp3D, contour2D, image2D)
importFrom(FSA, is.odd)
importFrom(DT, datatable)
importFrom(xtable, xtable, print.xtable)
export(xarray)
export(frame.to.ld)
export(censored.data.plot)
export(distribution.plot)
export(gets.pdf.plot)
export(SMRDOptions)
export(SMRDOptionsDefaults)
export(multiple.probplot.sim)
export(ld.split)
export(probpaper)
export(cdfest)
export(mleprobplot)
export(failure.probabilities)
export(expon.mle)
export(one.dim.profile)
export(profile.plot)
export(transtruct)
export(compare.many.exponential.profiles)
export(ld.to.surv)
export(survPlot)
export(mttf.integrate)
export(mttf)
export(compare.mleprobplot)
export(mlehazplot)
export(ls2.mle)
export(simple.contour)
export(profile.grid)
export(mlest)
export(simple.grid)
export(ls.mle)
export(two.dim.profile)
export(conf.contour)
export(parametric.bootstrap)
export(nonparametric.bootstrap)
export(SingleDistSim)
export(get.plan.values)
export(life.test.simulation)
export(asd.quant)
export(asym.test.plan.properties)
export(lsinf)
export(table.lines)
export(variance.factor)
export(zero.failure.plan)
export(zero.failure.k)
export(zero.failure.n)
export(zero.failure.prsd)
export(asym.sample.size)
export(multiple.simulate.type.two)
export(Gamma.mle)
export(basic.gmleprobplot)
export(egeng.mle)
export(small.interval)
export(bisa.mle)
export(igau.mle)
export(gmleprobplot)
export(gets.mle)
export(FillRegion)
export(do.profile.plot)
export(rflm.mle)
export(CondProbInterval2)
export(CondProbInterval)
export(PredictTable)
export(CumulativePredictTable)
export(PlotCumulativePredictTable)
export(frame.to.rmd)
export(rmd.to.ld)
export(specify.simple.prior)
export(make.prior)
export(get.big.posterior)
export(make.small.posterior.object)
export(summarize.posterior.or.prior)
export(component.effect)
export(mfmi.mleprobplot)
export(mfmc.mleprobplot)
export(mfm.to.ld)
export(get.time.vector)
export(frame.to.rdu)
export(mcf)
export(mcf.plot)
export(PlotMCFandNHPP)
export(mcf.diff.plot)
export(interarrival.times)
export(interarrival.plot)
export(ar1.plot)
export(fit.power.and.loglin.process)
export(repair.tsplot)
export(renewal.plots)
export(laplace.test)
export(lewis.robinson.test)
export(milhbk189.test)
export(RiskSet)
export(NHPP.mle)
export(plotRiskSet)
export(profile.contour)
export(groupm.mleprobplot)
export(resid.vs.order)
export(resid.vs.fit)
export(resid.vs.explan)
export(resid.probplot)
export(groupi.mleprobplot)
export(groupi.contour)
export(resid.vs.explan.multiple)
export(gmlest)
export(get.alt.test.plan.direct)
export(AF)
export(AFplot)
export(four.groupi.mleprobplot)
export(four.groupm.mleprobplot)
export(ALT.vcv)
export(ALT.plot.time.v.x)
export(ALT.plot.FracFail.v.Time)
export(altplan)
export(altsimReturnFrame)
export(varone.grid)
export(frame.to.ddd)
export(groupi.Dest.Degrad.indivplots)
export(groupi.Dest.Degrad.oneplot)
export(groupm.Dest.Degrad)
export(groupi.Dest.Degrad)
export(dest.degrad.mle)
export(get.sub.model.dest.degrad.mle.out)
export(groupi.Dest.Degrad)
export(groupi.Dest.Degrad.indivplots)
export(groupi.Dest.Degrad.oneplot)
export(get.allocation.matrix)
export(get.ADDT.plan.values)
export(hframe.to.vframe)
export(simulate.ADDT.test.plan)
export(ADDT.plot.time.v.x)
export(ADDT.plot.Deg.v.Time)
export(ADDT.plot.FracFail.v.Time)
export(ADDT.vcv)
export(get.ADDT.test.plan.hframe)
export(get.data.title)
export(xmat)
export(set.relationship.power)
export(unfold)
export(SMRD.sanity)
export(evaluate)
export(event.plot)
export(trellis.plot)
export(quantiles)
export(get.residuals)
export(get.sub.model)
export(marginalize.sim)
export(f.relationship)
export(four.mleprobplot)
export(relationship.sanity)
export(multiple.mleprobplot)
export(GetSMRDDefault)
export(g)
export(residual.plots)
export(psev)
export(qsev)
export(dsev)
export(plev)
export(qlev)
export(dlev)
export(pbisa)
export(qbisa)
export(dbisa)
export(pgeng)
export(qgeng)
export(dgeng)
export(pigau)
export(qigau)
export(digau)
export(pgets)
export(qgets)
export(dgets)
export(pgoma)
export(qgoma)
export(dgoma)
export(pegengl)
export(qegengl)
export(degengl)
export(Response)
S3method(event.plot, life.data)
S3method(event.plot, recurrence.data)
S3method(evaluate, ADDT.test.plan)
S3method(evaluate, alt.test.plan)
S3method(failure.probabilities, groupm.Dest.Degrad.out)
S3method(failure.probabilities, groupm.out)
S3method(failure.probabilities, mfmc)
S3method(failure.probabilities, mlest)
S3method(failure.probabilities, multiple.mlest.out)
S3method(failure.probabilities, plan.values)
S3method(get.residuals, dest.degrad.mle.out)
S3method(get.residuals, groupm.out)
S3method(get.sub.model, dest.degrad.mle.out)
S3method(marginalize.sim, simulate.ADDT.out)
S3method(marginalize.sim, simulate.alt.out)
S3method(SMRD.sanity, Dest.Degrad.data)
S3method(SMRD.sanity, degradation.data)
S3method(SMRD.sanity, life.data)
S3method(SMRD.sanity, recurrence.data)
S3method(trellis.plot, repeated.measures.data)
S3method(unfold, alt.plan)
S3method(unfold, default)
S3method(unfold, Dest.Degrad.data)
S3method(unfold, life.data)
S3method(levels, groupm.out)
S3method(pretty, check)
S3method(contour, my.surface)
S3method(pairs, life.data)
S3method(model.matrix, to.matrix)
S3method(predict, groupm.out)
S3method(predict, order.posterior)
S3method(predict, posterior)
S3method(update, joint.dist)
S3method(as.numeric, nocheck)
S3method(trunc, adj.cdfest.out)
S3method(exp, log.like)
S3method(log, min)
S3method(range, bvn.gmle.out)
S3method(plot, ADDT.sample.size)
S3method(quantiles, groupm.Dest.Degrad.out)
S3method(quantiles, groupm.out)
S3method(quantiles, mfmc)
S3method(quantiles, mlest)
S3method(quantiles, multiple.mlest.out)
S3method(quantiles, versus.x.groupm.out)
S3method(subset, life.data)
S3method(profile, contour)
S3method(profile, grid)
S3method(profile, plot)
S3method(profile, range)
S3method(profile, list)
S3method(quantile, profile.setup)
S3method(quantile, profile.stable.parameters)
S3method(quantile, rmd)
S3method(quantile, var.fact)
S3method(summary, ADDT.plan.values)
S3method(summary, alt.plan.values)
S3method(summary, boot.npar.npar.out)
S3method(summary, boot.npar.par.out)
S3method(summary, Dest.Degrad.data)
S3method(summary, FillRegion.out)
S3method(summary, gmle.out)
S3method(summary, groupi.Dest.Degrad.out)
S3method(summary, groupm.out)
S3method(summary, life.data)
S3method(summary, mfm.multiple.mlest.out)
S3method(summary, mlest)
S3method(summary, multiple.failure.mode.life.data)
S3method(summary, multiple.mlest.out)
S3method(summary, plan.values)
S3method(summary, posterior)
S3method(summary, prior.and.post)
S3method(summary, recurrence.data)
S3method(summary, repeated.measures.data)
S3method(summary, RMD.simulation.results)
S3method(summary, simulate.ADDT.out)
S3method(summary, warranty.sequence)
S3method(print, ADDT.plan.values)
S3method(print, ADDT.test.plan)
S3method(print, alt.plan.values)
S3method(print, alt.test.plan)
S3method(print, altplan.eval.out)
S3method(print, ddd.plan.values)
S3method(print, Dest.Degrad.data)
S3method(print, ecdf)
S3method(print, estimates.out)
S3method(print, failure.probabilities.out)
S3method(print, gmle.out)
S3method(print, gmle)
S3method(print, groupi.Dest.Degrad.out)
S3method(print, groupm.out)
S3method(print, life.data)
S3method(print, mcf)
S3method(print, mcf.table)
S3method(print, mlehazplot.out)
S3method(print, mlest)
S3method(print, mttf)
S3method(print, multiple.estimates.out)
S3method(print, multiple.gmle.out)
S3method(print, multiple.mlest.out)
S3method(print, nprepair.out)
S3method(print, plan.values)
S3method(print, prior)
S3method(print, quantiles.out)
S3method(print, recurrence.data)
S3method(print, repeated.measures.data)
S3method(print, rmd.plan)
S3method(plot, ADDT.sample.size)
S3method(plot, ADDT.test.plan)
S3method(plot, Dest.Degrad.data)
S3method(plot, alt.fit)
S3method(plot, alt.sample.size)
S3method(plot, alt.test.plan)
S3method(plot, asym.sample.size)
S3method(plot, bands.quantile)
S3method(plot, bands)
S3method(plot, boot.cdf)
S3method(plot, boot.npar.npar.out)
S3method(plot, boot.npar.par.out)
S3method(plot, bvn)
S3method(plot, cdfbands)
S3method(plot, censored.data.points)
S3method(plot, cycles.to.real.time)
S3method(plot, Dest.Degrad.data)
S3method(plot, function.marginals)
S3method(plot, function.task.marginals)
S3method(plot, groupi.Dest.Degrad.out)
S3method(plot, groupm.Dest.Degrad.out)
S3method(plot, groupm.out)
S3method(plot, hazard)
S3method(plot, joint.and.marginals.sim)
S3method(plot, joint.prior.marginals)
S3method(plot, joint.prior.or.post.marginals)
S3method(plot, joint.prior)
S3method(plot, joint.sim)
S3method(plot, life.data)
S3method(plot, line)
S3method(plot, marginal.prior)
S3method(plot, marginals.sim)
S3method(plot, mcf)
S3method(plot, multiple.mlest.out)
S3method(plot, nonparametric.estimate)
S3method(plot, paper)
S3method(plot, plan.values)
S3method(plot, prediction.order)
S3method(plot, prediction)
S3method(plot, prior.pdf)
S3method(plot, prob.cs.type2)
S3method(plot, prob.succ.demo.type2)
S3method(plot, quantiles)
S3method(plot, repeated.measures.data)
S3method(plot, rflm.mle)
S3method(plot, rmd.average)
S3method(plot, rmd.predicted)
S3method(plot, rmd.residual)
S3method(plot, simple.contour)
S3method(plot, use.rate.dist)
S3method(plot, use.rate.model.out)
S3method(plot, use.rate.model)
S3method(plot, use.rate.series.system)
S3method(plot, volt.vs.size)
S3method(plot, vpm.vs.size)
S3method(plot, warranty.gmle.out)
S3method(plot, warranty.sequence)
S3method(unfold, default)
S3method(unfold, life.data)
S3method(unfold, alt.plan)
S3method(unfold, Dest.Degrad.data)
S3method(get.residuals, groupm.out)
S3method(get.residuals, dest.degrad.mle.out)
S3method(get.sub.model, dest.degrad.mle.out)
S3method(marginalize.sim, simulate.alt.out)
S3method(marginalize.sim, simulate.ADDT.out)
S3method(simulate, ADDT.test.plan)
S3method(simulate, ALT.test.plan)
S3method(as.data.frame, cdfest)